---
layout: default
---
<article class="post glossario">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <footer>
    <h2 id="contribua">Como sugerir alterações nesta página?</h2>
    <p>
      Algo está errado, incompleto ou pode ser melhorado? Visite
      <a href="https://github.com/webiwg/glossario-web">https://github.com/webiwg/glossario-web</a>
      para propor alterações.
    </p>
  </footer>
</article>
